html {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
}

body {
	min-height: 100vh;
	background-image: url('./assets/background.jpg');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
}
