html {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
}

body {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.background {
	// hide element behind site contents
	z-index: -999;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-image: url('./assets/background.jpg');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}