$_border-radius: 10px;

.app {
	box-sizing: border-box;
	font-family: $font-default;
	font-size: $size-font-base;
	border-radius: $_border-radius;
	width: 90%;
	max-width: 650px;
	height: 500px;
	display: flex;
	box-shadow: 0 0 25px -5px $color-dark-blue;

	& *,
	& *:before,
	& *:after {
		box-sizing: inherit;
	}

	&__sider {
		overflow: hidden;
		border-radius: $_border-radius 0 0 $_border-radius;
		position: relative;
		flex: 0 0 150px;

		&:before {
			// move element down in z-index, for backdrop-filter to work correctly on safari
			z-index: -1;
			border-radius: $_border-radius 0 0 $_border-radius;
			content: '';
			position: absolute;
			display: block;
			width: 100%;
			height: 100%;
			background-color: rgba($color-dark-blue, 0.9);
			-webkit-backdrop-filter: blur(5px);
		}
	}

	&__content {
		border-radius: 0 $_border-radius $_border-radius 0;
		flex: 1 0 0;
		background-color: $color-grey;
		overflow: scroll;
		position: relative;
		overflow-x: hidden;
	}
}