.list {
	padding: 10px 15px;
	margin: 0;
	overflow: scroll;
	height: 100%;

	&[data-filter="open"] {
		& > [data-state="closed"] {
			display: none;
		}
	}

	&[data-filter="closed"] {
		& > [data-state="open"] {
			display: none;
		}
	}

	&--without-dates {
		& .list__date {
			display: none;
		}
	}

	&__date {
		list-style: none;
		padding: 5px 0;
		display: block;
		color: $color-black;
		opacity: 0.5;
		font-size: 11px;
	}

	&__item {
		border-radius: 5px;
		color: $color-black;
		list-style: none;
		background-color: white;
		padding: 10px;
		border: 1px solid $color-dark-grey;
		margin-bottom: 5px;

		&__title {
			margin: 0;
		}
	}
}
