.star {
	position: relative;
	float: right;
	width: 17px;
	height: 17px;
	@include clearfix();

	&__toggle {
		display: none;

		&:checked ~ .star__inside {
			display: none;
		}

		&:checked ~ .star__outside {
			fill: $color-blue;
		}
	}

	&__inside {
		cursor: pointer;
		backface-visibility: hidden;
		top: 50%;
		left: 50%;
		position: absolute;
		transform: translate(-50%, -50%) scale(0.8);
		fill: $color-white;
	}

	&__outside {
		cursor: pointer;
		backface-visibility: hidden;
		top: 50%;
		left: 50%;
		position: absolute;
		transform: translate(-50%, -50%);
		fill: $color-dark-grey;
	}
}