/* Fonts */
$font-default: Roboto, Arials, sans-serif;
$size-font-base: 14px;

/* Colors */
$color-grey: #f6f6f6;
$color-dark-grey: #e0e0e0;
$color-white: #fff;
$color-black: #000;
$color-blue: #21233d;
$color-light-blue: #292a48;
$color-dark-blue: #101022;
$color-red: #ff594f;
$color-green: #00cd46;
$color-yellow: #ffbc1b;

